@import url('https://fonts.googleapis.com/css2?family=Quando&family=Raleway:wght@300&display=swap');


body{
  font-family: 'Quando', serif;
  background: url("./images/hero.jpg") no-repeat fixed center/cover;
}



h4 {
  font-family: 'Raleway', sans-serif;
}
img {
  max-height: 400px;
}

a {
  text-decoration: none;
  color: rgb(170, 32, 32);
}

a:hover{
  color: rgb(247, 96, 96);
}



  
  
  
  
  